.projects .project {
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  border: 1px solid #ccc;
  border-radius: 0.6rem;
  box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.6);
}
.projects .project a:hover {
  text-decoration: none;
}
.projects .project > p {
  text-align: justify;
}
.projects .project > h3 {
  margin: 1rem 0;
}
.projects .note {
  position: relative;
  text-align: justify;
  margin-bottom: 1.5rem;
  padding-left: 3rem;
}
.projects .note p {
  margin: 0;
}
.projects .note .glyphicon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
}
