@import 'vars';

.navigation .nav-content {

  padding: 0.8rem 0;
  overflow: hidden;

  ul {
    text-align: center;
    border-top: 1px dashed fadeout(@sec-one-light, 20%);

    padding: 0.5em 0 0 0;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;

    li {
      border-right: 1px solid fadeout(@sec-one-light, 20%);
      transition: 0.25s flex;

      flex: 1 1 auto;
      z-index: 3;
      &:last-child {
        border-right: none;
      }
      &:hover, &:focus {
        flex: 1.5 1 auto;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }

  @media screen and (max-width: 768px) {
    max-height: 1px;
    transition: max-height 0.3s ease-in-out;

    margin-bottom: 0.5rem;
    padding: 0;
    ul {
      border-top: none;

      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      padding: 0;
      li {
        border-right: none;
        border-top: 1px dashed fadeout(@sec-one-light, 25%);

        margin-top: 0.5rem;
        padding-top: 0.5rem;
        width: 100%;
      }
    }
  }

  @media screen and (min-width: 769px) {
    .active {
      flex: 1.5 1 auto;
      a {
        color: @accent;
        &:hover, &:focus {
          color: @accent-dark;
        }
      }
    }
  }

}

.navigation .nav-content.show {
  height: auto;
  @media screen and (max-width: 768px) {
    max-height: 300px;
  }
}

.navigation .nav-header {
  display: flex;
  justify-content: center;
  align-items: center;

  button.nav-toggle {
    display: flex;
    background: @sec-two;
    color: @primary;
    border: 1px solid @sec-two-darker;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    span {
      display: block;
      flex: 1 0 auto;
      font-size: 16px;
    }
  }
  .nav-current {
    margin: 0.2rem 0 0.2rem 1rem;
    small {
      color: @accent-dark;
    }
  }

  @media screen and (min-width: 769px) {
    display: none;
  }
}

