@import 'vars';
//defaults

body {
  font-family: 'Roboto Condensed', 'Open Sans Condensed', 'sans';
  h1, h2, h3, h4 {
    color: @sec-one-light;
    small {
      color: @sec-one-dark;
    }
  }
  h5, h6, p {
    color: @gray-lighter;
    small {
      color: @gray-light;
    }
  }
  a {
    color: @sec-two;
    &:hover, &:focus {
      color: @sec-two-dark;
    }
  }
}

.app-Content {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background: @primary-dark;
}

//scrollbars

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: none;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: fadeout(@primary-lighter, 80%);
  //border-radius: 4px;
  box-shadow: 0 0 2px 2px fadeout(@primary-light, 80%) inset;
}

//styles

#header {
  width: 100%;
  flex: 0 0;
  margin-bottom: 1rem;
  h1 {
    margin: 1.5rem 0 0.5rem 0;
    text-align: center;
    color: @sec-one;
    text-shadow: 0 1px 6px darken(@sec-one-darker, 40%);
  }

  //colors
  background: @primary;
  border-bottom: @primary-darker;
}

#nav {
  width: 90%;
  margin: 0 auto;
}

#main-content {
  width: 60%;
  margin: 1.5rem auto 1.5rem auto;
  padding: 0 1.5rem;
  overflow-y: auto;
  flex: 1;
  @media screen and (max-width: 1023px) {
    width: 75%;
  }
  @media screen and (max-width: 767px) {
    width: 90%;
  }
}

#footer {
  width: 100%;
  height: 3rem;
  flex: 0 0;
  background: @primary;
  border-top: @primary-darker;

  .footer {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 3px 5% 0 5%;
    text-align: center;
  }
  .glyphicon {
    font-size: 2.5rem;
    color: @sec-two;
  }
}

@import 'home';
@import 'about';
@import 'nav';
@import 'projects';
@import 'resume';
@import 'contact';
