<nav role="navigation" class="navigation" ng-controller="NavCtrl">
  <div class="nav-header">
    <button class="nav-toggle" type="button" ng-click="collapsed = !collapsed">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
    <h3 class="nav-current"><small>{{currPage}}</small></h3>
  </div>
  <div class="nav-content" ng-class="{show: collapsed}">
    <ul>
      <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
      <a ng-href="#{{item.link}}">{{item.title}}</a>
      </li>
    </ul>
  </div>
</nav>
